fastapi==0.95.2
starlette>=0.27,<0.37
httpx<0.25

uvicorn==0.23.1
transformers==4.35.0
torch
sentencepiece
huggingface-hub
datasets
onnxruntime
accelerate
evaluate
scipy
numpy
pandas
spacy
python-dotenv
requests
pytest
tqdm
tokenizers
gunicorn
redis

# optional dev/test
black
flake8
